body {
    background-color: #87CEFA;
    font-family: "Open Sans", sans-serif;
    font-display: swap;
}

header {
    position: absolute;
    left: 0%;
    top: 50%
}

section {
    position: absolute;
    right: 0%;
    top: 50%
}