body {
    background-color: #87CEFA;
    font-family: "Open Sans", sans-serif;
    font-display: swap;
}

header {
    position: absolute;
    left: 0%;
    margin-top: auto;
    margin-bottom: auto;
}

section {
    position: absolute;
    right: 50%;
    margin-top: auto;
    margin-bottom: auto;
}