body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
header {
    text-align: center;
}
main {
    background-color: lightgray;
    padding: 10px;
}
article {
    padding: 10px;
    box-shadow: 0px 0px 10px darkgray;
}
a {
    text-decoration: none;
}