body {
    background-color: #DCDCDC;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    top: 0;
}
header {
    background-color: white;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 0px 10px darkgray;
}
main {
    padding: 10px;
}
article {
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 10px darkgray;
}
h2 {
    color: #0aa979;
}
a {
    text-decoration: none;
}